body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transform: all 0.3s ease-in-out;
}
.navber {
  /* background: rgb(37, 41, 111); */
  background: linear-gradient(
    357deg,
    rgb(33, 36, 109) 0%,
    rgb(16, 17, 92) 46%,
    rgb(11, 11, 83) 70%,
    rgba(209, 141, 57, 1) 100%
  );
  height: 8rem;
  width: 100%;
}
.mainScreen {
  width: 100%;
  height: fit-content;
  background: rgb(22, 21, 21);
}
.mainScreenDark {
  width: 100%;
  height: fit-content;
  background: rgb(255, 255, 255);
}
.menu {
  display: flex;
  padding-right: 6;
}
.logo {
  width: 100px;
  height: auto;
  padding: 6;
}
.avatar_preview {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.singlePost {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 1rem;
  position: relative;
}

.react-switch {
  vertical-align: middle;
  margin-left: 4px;
}
.lightFooter {
  /* background: #9696f0; */
  background: linear-gradient(
    180deg,
    rgb(82, 86, 214) 0%,
    rgb(78, 79, 172) 46%,

    rgb(180, 141, 92) 100%
  );
  color: rgb(0, 0, 0);
  position: relative;
}
.darkFooter {
  background: #1b1b29;
  color: rgb(255, 255, 255);
  position: relative;
}
.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 0;
}
